{% extends 'core/base.html' %}
{% block title %}Contact{% endblock %}

{% block background %}{% load static %}{% static '/core/img/contact-me6.jpg' %}{% endblock %}

{% block headers %}
<h1>Contact Me</h1>
<span class="subheading"><i>Be Amongst The Few Who Dare To Follow Their Dreams</i></span>
{% endblock %}

{% block content %}
<div class="row">
     <div class="col-lg-8 col-md-10 mx-auto">
         <p><b>Success is individual and subjective, an enjoyable job that is constantly full of learning becomes the reward...</b></p>
        <br>
        <p><b>Mobile Phone:</b> + (52) 55 27 22 40 81 </p>
        <br>
        <!--<p><b>CV</b><a href="core/img/Samuel_Romero_CV_Eng.pdf" target="_blank"> <embed src="core/img/Samuel_Romero_CV_Eng.pdf" type="application/pdf" width="500" height="600"></a></p>-->
        <p><b>Resume: </b><a href="/static/pdf/Samuel_Romero_CV_Eng.pdf/" download>Download</a></p>
        <br>
        <p><b>LinkedIn:</b> <a href="https://www.linkedin.com/in/angelsamuelhernandez/" target="_blank">Angel Hernández</a> </p>
     </div>
</div>
{% endblock %}